body {
	width: 320px;
	height: 480px;
	overflow: hidden;
}

.wrap {
	width: 320px;
	height: 460px;
	background-color: #CDCDCD;
	text-align: center;
	padding-top : 20px;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
	color: #333;
}

h2 span {
	font-size: 12px;
}

h3 {
	width: 180px;
	height: 60px;
	line-height: 25px;
	border: 1px solid #333;
	color: #333;
	font-size: 30px;
	display: block;
	background-color: #FFF;
	margin:0 auto;
}

h3 span {
	font-size: 12px;
}

h4 {
	font-size: 16px;
	color: #333;
}

p {
	padding: 10px;
	font-size: 14px;
	color: #333;
}

p em {
	color: #006600;
	font-weight: bold;
}

label {
	font-size: 14px;
}

a.btn {
	text-decoration: none;
	width: 180px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #000;
	margin: 40px auto;
	display: block;
	-webkit-border-radius:7px;
	font-size: 14px;
}

a.lbtn {
	text-decoration: none;
	width: 70px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #000;
	margin: 30px auto;
	display: block;
	-webkit-border-radius:7px;
	font-size: 14px;
}


a.white {
	background-color: #FFF;
	color: #333;
	border-color: #333;
}

a.gray {
	background-color: #E4E4E4;
	color: #333;
	border-color: #999;
}

a.again {
	float: right;
	height: 18px;
	line-height: 18px;
	margin-right: 30px;
	background: url(data:image/gif;base64,R0lGODlhFQASANUAAFVVVWFhYQcHB7S0tJ+fnycnJzMzM7q6usrKykFBQRERERoaGh8fH1JSUrCwsF1dXTs7O6GhoXFxcaCgoDk5OcPDw7KyslNTUxISEnNzcw8PD01NTYWFhRMTExkZGTQ0NAkJCQUFBRUVFRgYGHd3d1BQUGNjY3V1dcTExJCQkJycnAoKCnx8fLOzs3R0dMvLy2pqara2tpOTk0BAQMjIyEtLS7W1ta+vr6SkpG9vbzExMRQUFC8vLzU1NQAAAM3NzSH5BAAAAAAALAAAAAAVABIAAAavwJ9w+CM8DIUCJHMgOoWtGchHrYokiKeQMKJiKIDLR0NtaAceXwgQI1o2Co424ROctD+HNiLwAfCAAT4dFYBCOCVCBwEMPgsBKYAIBj4sPyg6VQIqgDlUOwM/NxhUMIATK1U9QiQ+PDSAMgELPgwmQi81E4Y/FR0+AbxPAHURWnpaLn0JWhwKGxZENgAhPh6hTw1UGh8XABQKVAsEeAgSIlVVIAnYgAcZEEkGD+ROQQA7) no-repeat 0 0;
	padding-left: 30px;
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

input.text {
	width: 160px;
	height: 30px;
	padding: 10px;
	border: 1px solid #333;
	margin: 40px auto;
	background-color: #FFF;
	color: #333;
	display: block;
	font-size: 14px;
}