body {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
}
#wrapper {
  width: 100%;
  position: relative;
}
#wrapper .hide {
  display: none;
}
header {
  position: relative;
  display: block;
  height: 4em;
  width: 100%;
  background: url("../image/cloud.png") no-repeat 20% 0%, url("../image/sun.png") no-repeat 80% 0%, url("../image/cloud.png") no-repeat 40% 100%, url("../image/cloud.png") no-repeat 10% 100%;
  background-size: 1.5em 1.5em;
}
.box {
  position: relative;
  display: block;
  width: 100%;
  height: 20em;
}
header .set {
  position: absolute;
  right: 1em;
  top: 0.3em;
  width: 3em;
  height: 3em;
  background: url("../image/set.png") no-repeat;
  background-size: contain;
}
header .caption {
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 5px auto;
}
.box-ready .word {
  text-align: center;
}
.box-ready .word span {
  position: relative;
  display: inline-block;
  height: 3em;
  width: 13em;
  line-height: 3em;
  background-image: url("../image/grid.png");
  -webkit-border-radius: 2em;
  -webkit-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3) inset;
}
.box-ready .word span figure {
  display: inline-block;
  position: relative;
  margin: 0;
  left: 0px;
  width: 100%;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: baseline;
  background: transparent;
}
.box-ready .word span figure input {
  width: 7.1em;
  height: 1.4em;
  line-height: 1.4em;
  border: 0px;
  background: transparent;
  text-align: center;
  font-size: 1.4em;
}
.box-ready .word span figure input::-webkit-input-placeholder {
  font-size: 0.7em;
}
.box-ready .word span figure i {
  display: inline-block;
  position: absolute;
  background: #f0f0f0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: -2px;
  -webkit-border-radius: 15px;
  border-left: 1px solid white;
  border-right: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}
.box-ready .word span em {
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  left: 15%;
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  margin-left: -1em;
  background: url("../image/broadcast.png");
  background-size: contain;
  vertical-align: middle;
}
.box-ready .putin {
  padding: 0;
  text-align: center;
}
.box-ready .putin li {
  display: inline-block;
  height: 6.1em;
  width: 6.1em;
  margin: 0 0;
  text-align: center;
  background-position: bottom;
  background-size: contain;
  background-color: #e4e8eb;
}
.box-ready .putin li input {
  width: 4em;
  height: 1em;
  border: 0px;
  background-color: transparent;
  text-align: center;
  font-size: 1.3em;
  margin-top: 5px;
}
.box-ready .putin li:nth-child(1) {
  margin-left: 10px;
  background-image: url("../image/ghost.png");
}
.box-ready .putin li:nth-child(2) {
  background-image: url("../image/common.png");
}
.box-ready .putin li:nth-child(3) {
  background-image: url("../image/fool.png");
}
.box-start {
  background: url("../image/maintext.png") no-repeat 50% 0%;
  background-size: 11em 11em;
}
.box-start .btn {
  width: 15em;
  height: 5em;
  left: 50%;
  -webkit-transform: translatex(-50%);
  bottom: 0px;
  position: absolute;
  background: url("../image/setup.png") no-repeat;
  background-size: contain;
}
.box-start .btn:after {
  content: " ";
  position: absolute;
  width: 8em;
  height: 4em;
  top: -3.4em;
  left: 45%;
  -webkit-transform: translatex(-50%);
  background: url("../image/start_box.png") no-repeat;
  background-size: contain;
}
.box-start .btn:before {
  content: " ";
  position: absolute;
  width: 4em;
  height: 10em;
  top: -6em;
  left: -12%;
  background: url("../image/hand.png") no-repeat;
  background-size: contain;
}
.box-start .pen {
  position: absolute;
  width: 5em;
  height: 5em;
  left: 50%;
  -webkit-transform: translatex(-220%);
  bottom: 60%;
  background: url("../image/word.png") no-repeat;
  background-size: contain;
}
.box-game {
  text-align: center;
  position: relative;
  padding-top: 2em;
}
.box-game .card {
  z-index: 2;
  position: absolute;
  width: 7.2em;
  height: 7.2em;
  background-color: red;
  left: 50%;
  -webkit-transform: translatex(-50%);
  top: -4em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  background: url("../image/ghost.png") no-repeat 90% 0%, url("../image/common.png") no-repeat 45% 50%, url("../image/fool.png") no-repeat 10% 100%;
  background-size: 90%;
}
.box-game .card span {
  width: 5em;
  height: 1.6em;
  line-height: 1.6em;
  font-size: 1.5em;
  font-weight: bolder;
  color: #9A9A9A;
  margin-top: 1em;
  display: inline-block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}
.box-game .card figure {
  width: 100%;
  height: 40px;
  background: url("../image/pencil.png") no-repeat 90% 0%;
  background-size: contain;
  margin-left: 0px;
}
.box-game .face {
  position: relative;
  z-index: 1;
  width: 10em;
  height: 10em;
  display: inline-block;
  background: url("../image/box.png") no-repeat;
  background-size: contain;
}
.box-game .face span {
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  background: -webkit-radial-gradient(center, #eb6e6f, #e74242);
  top: 0.9em;
  left: 50%;
  -webkit-transform: translatex(-50%);
  -webkit-border-radius: 2em;
  line-height: 2em;
  font-size: 3em;
  color: #746868;
}
.box-game span {
  display: block;
  font-size: 2.5em;
  color: #9a9a9a;
}
.fire {
  display: block;
  width: 100%;
}
.fire .btn {
  margin-top: 5px;
  text-align: center;
}
.fire .btn span {
  height: 2.5em;
  width: 8em;
  color: white;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  line-height: 2.5em;
  display: inline-block;
  -webkit-border-radius: 1.25em;
  background-color: #E43C3C;
  text-align: center;
}
.fire .hyph {
  text-align: center;
}
.fire .hyph ul {
  padding: 0;
}
.fire .hyph ul li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 9px;
  -webkit-border-radius: 3px;
  background-color: grey;
}
.slider {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.slider .slider-outer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.slider .slider-outer .slider-masker {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.slider .slider-outer .slider-masker .slider-wrap {
  position: absolute;
  width: auto;
  padding: 0;
  list-style: none;
  margin: 0px 0px;
}
.slider .slider-outer .slider-masker .slider-wrap li {
  display: inline-block;
  height: 15em;
  width: 20em;
}
.slider .slider-outer .slider-masker .slider-wrap li img {
  width: 20em;
}
.slider .slider-outer .slider-masker .slider-wrap li figure {
  text-align: center;
  margin: 0.3em 1em;
  color: #9a9a9a;
  font-size: 1.2em;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  body {
    font-size: 13px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  body {
    font-size: 18px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 920px) {
  body {
    font-size: 22px;
  }
}
@media only screen and (min-width: 921px) {
  body {
    font-size: 24px;
  }
}
