body {
	margin: 0;
	padding: 0;
}

#tips {
	width: 300px !important;

	.hide {
		display: none;
	}

	header.h-comm,header.h-tall {
        position: relative;
		display: block;
        margin-top: 20px;
		height: 50px;
		width: 100%;
		figure {
			text-align: center;
			color: black;
			font-size: 30px;
			font-weight: bold;
		}
        div{
            position: absolute;
            right: 10px;
            top: -20px;
            width: 40px;
            height: 40px;
            background: url("../image/set.png") no-repeat;
            background-size: contain;
        }
		background: url("../image/cloud.png") no-repeat 10% 0%,
					url("../image/sun.png") no-repeat 80% 0%,
					url("../image/cloud.png") no-repeat bottom left
					;
		background-size: 10%;
	}


	section.box {
		min-height: 100px;
		display: block;
		width: 100%;
		.word {
			text-align: center;
			span {
				display: inline-block;
				height: 50px;
				width: 200px;
				line-height: 50px;
				background-image: url("../image/grid.png");
				-webkit-border-radius: 40px;
				-webkit-box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3) inset;
				figure {
					display: inline-block;
                    position: relative;
					width: 120px;
					height: 30px;
					line-height: 30px;
					margin: 0;
					vertical-align: middle;

                    input{
                        width: 110px;
                        height: 28px;
                        border: 0px;
                        background: transparent;
                        text-align: center;
                        line-height: 28px;
                        font-size: 20px;

                        &::-webkit-input-placeholder{
                            font-size: 14px;
                        }
                    }

                    i{
                        display: inline-block;
                        position: absolute;
                        background: #f0f0f0;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        top: -2px;
                        -webkit-border-radius: 15px;
                        border-left: 1px solid white;
                        border-right: 1px solid #CFCFCF;
                        border-bottom: 1px solid #CFCFCF;
                    }
				}
				em {
					display: inline-block;
					height: 20px;
					width: 20px;
					background: url("../image/broadcast.png");
					background-size: contain;
					vertical-align: middle;
				}
			}
		}
		ul {
			padding: 0;
			li {
				display: inline-block;
				height: 90px;
				width: 90px;
				margin: 0 0;
				text-align: center;
				input {
					width: 80px;
					height: 40px;
					border: 0px;
					background-color: transparent;
					text-align: center;
				}
				background-position: bottom;
				background-size: contain;
				background-color: #e4e8eb;
			}
			li:nth-child(1) {
				margin-left: 10px;
				background-image: url("../image/ghost.png");
			}
			li:nth-child(2) {
				background-image: url("../image/common.png");
			}
			li:nth-child(3) {
				background-image: url("../image/fool.png");
			}
		}
	}

    section.s-box{
        position: relative;
        height: 330px;
        display: block;
        width: 100%;

        background: url("../image/maintext.png") no-repeat 60% 0%;
        background-size: 60%;

        .btn{
            width: 240px;
            height: 100px;
            left: 40px;
            bottom: 0px;
            position: absolute;
            background: url("../image/setup.png") no-repeat;
            background-size: contain;

            &:after{
                content: " ";
                position: absolute;
                width: 100px;
                height: 50px;
                top: -38px;
                left: 70px;
                background: url("../image/start_box.png") no-repeat;
                background-size: contain;
            }

            &:before{
                content: " ";
                position: absolute;
                width: 50px;
                height: 150px;
                top: -68px;
                left: 15px;
                background: url("../image/hand.png") no-repeat;
                background-size: contain;
            }
        }

        .pen{
            position: absolute;
            width: 70px;
            height: 70px;
            left: 10px;
            bottom: 180px;
            background: url("../image/word.png") no-repeat;
            background-size: contain;
        }

    }

	div.box {
		text-align: center;
		position: relative;
		.card {
            z-index: 2;
			position: absolute;
			width: 120px;
			height: 120px;
			background-color: red;
			left: 90px;
			top: -100px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			background: url("../image/ghost.png") no-repeat 90% 0%,
						url("../image/common.png") no-repeat 45% 50%,
						url("../image/fool.png") no-repeat 10% 100%
						;
			background-size: 90%;

			span {
				width: 110px;
				height: 40px;
				font-size: 24px; //        text-align: center;
				font-weight: bolder;
				color: #9a9a9a;
				margin-top: 10px;
				display: inline-block;
				-webkit-border-top-left-radius: 5px;
				-webkit-border-top-right-radius: 5px;
			}

            figure{
                width: 100%;
                height: 40px;
                background: url("../image/pencil.png") no-repeat 90% 0%;
                background-size: contain;
                margin-left: 0px;
            }
		}
		.face {
            position: relative;
            z-index: 1;
			width: 160px;
			height: 160px;
			display: inline-block;
			background: url("../image/box.png") no-repeat;
			background-size: contain;
            span{
                position: absolute;
                display: inline-block;
                width: 80px;
                height: 80px;
                background: -webkit-radial-gradient(center,#EB6E6F,#E74242);
                top: 45px;
                left: 40px;
                -webkit-border-radius: 40px;
                line-height: 80px;
                font-size: 40px;
                color: #746868;
            }
		}
		span {
			display: block;
			font-size: 30px; //        text-align: center;
			color: #9a9a9a;
		}
	}

	.fire {
		display: block;
		//height: 150px;
		width: 100%;
		.txt {
			text-align: center;
			line-height: 25px;
			min-height: 50px;
			color: #9a9a9a;
			font-size: 14px;
		}
		.btn {
			margin-top: 5px;
			text-align: center;
			span {
				height: 50px;
				width: 150px;
				color: white;
				font-size: 18px;
				letter-spacing: 7px;
				line-height: 50px;
				display: inline-block;
				-webkit-border-radius: 40px;
				background-color: #e43c3c;
				text-align: center;
			}
		}
		.hyph {
			text-align: center;
			ul {
				padding: 0;
				li {
					display: inline-block;
					width: 6px;
					height: 6px;
					margin-left: 9px;
					-webkit-border-radius: 3px;
					background-color: grey;
				}
			}
		}
	}

	.slider {
		height: 100px;
		width: 100%;
		.slider-outer {
			width: 300px;
			height: 200px;
			overflow: hidden;
			position: relative;
			.slider-wrap {
				position: absolute;
				width: auto;
				padding: 0;
				list-style: none;
				margin: 0px 0px;
				li {
					display: inline-block;
					height: 200px;
					width: 300px;
					img {
						width: 300px;
					}
					figure {
						text-align: center;
						color: #9a9a9a;
						font-size: 16px;
					}
				}
			}
		}
	}

}
