@charset "utf-8";

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, caption
{margin:0; padding:0; border:0; outline:0; vertical-align:baseline;
font-style:normal; cursor:default;}
:focus {outline: 0;}
ol, ul {list-style:none;}
blockquote:before, blockquote:after, 
q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
.float-left{float:left;}
.float-right{float:right;}
.clear:after {content:"."; height:0; visibility:hidden; display:block;clear:both;}
.clear {display:inline-block; clear: both;}
/* Holly Hack Targets IE Win only \*/
* html .clear {height:1%;}
.clear {display:block;}
/* End Holly Hack */
* html{filter:expression(document.execCommand("BackgroundImageCache", false, true));overflow-x:hidden;}
.word-ellipsis {overflow:hidden; text-overflow:ellipsis; word-wrap:normal; word-break:normal; white-space:nowrap;}
body {line-height:1; color:#000; background:#fff; font:12px Tahoma,Helvetica,arial,sans-serif; margin:0; padding:0;}
img {border:none;}
form {padding:0px;margin:0px;border:0px;}
/*no-dotted:expression(onfocus=this.blur);*/
a {cursor:pointer;}
input.button {border:0; cursur:pointer;}
#body .hidden {display: none;}
#body .invisable {visibility: hidden;}
.font-yahei {font-family:'微软雅黑','黑体',Tahoma,Helvetica,arial,sans-serif;}
.posfixed {position:fixed;top:0px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop));_bottom:auto;}
/* 修正pos fixed后IE6振动bug */
* html,* html body{background-image:url(about:blank);background-attachment:fixed;}

