@import "reset.css";
@import "common.css";

p {
	text-align: left;
	padding-left: 30px;
}

h2 {
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;
}

h4 {
	margin-bottom: 40px;
}

a.again {
	margin-top: 20px;
}

