<header>
    <figure class="caption">开始游戏</figure>
    <div class="close">
    </div>
</header>
<div class="container">
    <dt class="help-tip">
        <dl>这是一个大家坐在一起的文字游戏！首先要集齐至少<strong>7</strong>个人用浏览器打开<em>www.wenzisha.com</em>其中一人点击出题按钮，其余人进入游戏准备抓鬼。</dl>
    </dt>
</div>

<footer>
    <div class="slider">
        <div class="help-man">
        </div>

        <div class="slider-status">
        <span class="sel"></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
        <div class="slider-outer">
        <ul class="slider-wrap">
            <li>
                <img data-img="./image/1.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/2.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/3.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/4.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/5.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/6.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/7.png" src="./image/1.png">
            </li>
            <li>
                <img data-img="./image/8.png" src="./image/1.png">
            </li>
        </ul>
    </div>
    </div>
</footer>