
<div class="sl-wrap">
    
    <div class="sl">
        <div class="card one">
            <h2>如何开始</h2>
            <p class="cd-img"><img width="100" alt="qr-code" src="./image/qrcode.png" /></p>
            <p class="cd-text">
                这是大家坐在一起玩的桌游！首先，集齐至少 <em>7 个人</em>，大家用手机扫描二维码或用浏览器打开<em>www.wenzisha.com</em>进入游戏。
            </p>
        </div>
        <div class="card two">
            <h2>进入游戏</h2>
            <p class="cd-text">
            担当法官主持游戏的人点击“我是法官”按钮进入将得到一个房间密码，将其告诉其它游戏者；<br/><br/>

所有游戏者点“加入游戏”并输入房间密码进入房间等候法官出题。

            </p>
        </div>
        <div class="card three">
            <h2>确认身份</h2>
            <p class="cd-text">
            等法官出题后，所有人查看自己的卡片确认自己的身份。<br/><br/>

如果你得到一个<em>词语</em>，那你是平民或傻子；<br/>
如果你得到一个<em>数字</em>，那你是鬼。
            </p>
        </div>
        
        <div class="card four">
            <h2>天黑闭眼</h2>
            <p class="cd-text">
            所有人确认身份后，法官主持大家进入天黑闭眼的环节，并宣布鬼睁开双眼，来<em>确认同伴</em>，同时需要指出<em>阐述的起点</em>。（通常以顺时针方向进行阐述）
            </p>
        </div>
        
        <div class="card five">
            <h2>依次阐述</h2>
            <p class="cd-text">
            法官宣布大家睁开双眼，由鬼指认的人开始进行词语的阐述。
平民和傻子需要尽可能让同伴来知道自己不是鬼，但不能透露太多线索让鬼知道；<br/>
鬼需要混淆视听，不让其它人发现自己是鬼，并积极地猜平民的词语。
            </p>
        </div>
        
        <div class="card six">
            <h2>投票</h2>
            <p class="cd-text">
            进行完一轮的阐述后，法官需要组织大家进行对鬼的投票。<br/><br/>

票数最多的人被投死，如果票数相同，可通过双方的再次阐述来进行投票，直到投死一人为止。
            </p>
        </div>
        
        <div class="card seven">
            <h2>遗言</h2>
            <p class="cd-text">
                被投死的人需要承认是否是鬼，如回答不是鬼，则没有遗言；<br/><br/>

如果回答是鬼，则可以向法官问一个可以用“是”或“否”回答的问题，法官将如实作答。
            </p>
        </div>
        
        <div class="card eight">
            <h2>游戏结束</h2>
            <p class="cd-text">
                当鬼猜出词时，鬼胜；<br/><br/>

当平民和傻子的人数少于鬼的人数时，鬼胜；<br/><br/>

当鬼全部死亡时，平民和傻子胜。
            </p>
        </div>
        
    </div>
</div>

<a class="h-close"></a>