<!--出题卡-->
<div class="word">
     <span>
         <em></em><figure><input id="roomId" type="text" tabindex="-1" readonly="true"></figure>
     </span>
</div>
<ul class="putin">
    <li>
        <input id="orTip" tabindex="2" placeholder="点此输入">
    </li>
    <li>
        <input id="idiTip" tabindex="3" placeholder="点此输入">
    </li>
    <li>
        <input id="ghostTip" tabindex="3"  value="0" readonly="true">
    </li>
</ul>

<section class="fire">
    <div class="btn">
        <span id="setTopic">
            出题
        </span>
    </div>
</section>