<!--出题卡-->
<div class="word">
     <p>
         <em>13</em>人已经领取卡片<br>
         全部人领取后可以开始游戏
     </p>
</div>
<ul class="putin">
    <li>
        <input tabindex="2" placeholder="点此输入">
    </li>
    <li>
        <input tabindex="3" placeholder="点此输入">
    </li>
    <li>
        <input tabindex="4" placeholder="点此输入">
    </li>
</ul>

<section class="fire">
    <div class="btn">
        <span id="setTopic">
            出题
        </span>
    </div>
</section>