<!--出题卡-->
<div class="word">
     <p>
         <strong><%=gamerNum %></strong>人已经领取卡片<br>
         全部人领取后可以开始游戏
     </p>
</div>
<ul class="putin god">
    <li>
        <span><%=peopleWord || ' ' %></span>
    </li>
    <li>
        <span><%=idiotWord || ' '%></span>
    </li>
    <li>
        <span><%=idiotWord.toString().trim().length %></span>
    </li>
</ul>

<section class="fire">
    <div class="btn">
        <span id="startGame" class="wait">
            等待玩家
        </span>
    </div>
</section>