<!--出题卡-->
<div class="word">
     <p>
         <strong>13</strong>人已经领取卡片<br>
         全部人领取后可以开始游戏
     </p>
</div>
<ul class="putin god">
    <li>
        <span>平民</span>
    </li>
    <li>
        <span>傻子</span>
    </li>
    <li>
        <span>2</span>
    </li>
</ul>

<section class="fire">
    <div class="btn">
        <span id="startGame">
            开始游戏
        </span>
    </div>
</section>