<!--出题卡-->

<header class="h-comm">
    <figure>出题卡</figure>
    <div id="set">
    </div>
</header>

<section class="box">
    <div class="word">
         <span>
             <em></em><figure><input type="text" placeholder="点击输入取卡口令"></figure>
         </span>
    </div>
    <ul>
        <li>
            <input placeholder="点此输入">
        </li>
        <li>
            <input placeholder="点此输入">
        </li>
        <li>
            <input placeholder="点此输入">
        </li>
    </ul>
</section>

<section class="fire">
    <div class="btn">
        <span id="setTopic">
            出题
        </span>
    </div>
    <div class="hyph">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</section>