<header class="h-comm">
    <figure>确认人数</figure>
    <div id="set">
    </div>
</header>
<section class="box">
</section>

<div class="box">
    <div class="card hide">
       <span>
           3
       </span>
    </div>
    <div class="face">

    </div>
       <span>
           <em>3</em>人已经领取卡片
       </span>
</div>

<section class="fire">
    <div class="btn">
        <span id="startGame">
            开始游戏
        </span>
    </div>
    <div class="hyph">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>