
<div class="card hide">
   <span>
       3
   </span>
</div>
<div class="face">
   <span>
	   ?
   </span>
</div>
<span>
   <em>3</em>人已经领取卡片
</span>


<section class="fire">
    <div class="btn">
        <span id="startGame">
            开始游戏
        </span>
    </div>
    <div class="hyph">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>