<div class="word">
     <span>
         <em></em><figure><input type="text" placeholder="输入取卡口令"><i id="confirm">OK</i></figure>
     </span>
</div>

<div class="card hide">
   <span>
       请输入<br>口令
   </span>

</div>
<div class="face">

</div>
<span class="tip">
   3人已经领取卡片
</span>

