<!--0 - UNKOWN-->
<!--1 - GOD-->
<!--2 - PEOPLE-->
<!--3 - ONI-->
<!--4 - IDIOT-->

<div class="word">

</div>

<% if(typeof character != 'undefined') { %>

<% if(character === -1) { %>
<div class="card hide">
    <figure>
        <p>出题中</p>
    </figure>
</div>
<% } %>

<% if(character === 2 || character === 4) { %>
<div class="card peopleCard hide">
    <figure>
        <p><%= word%></p>
    </figure>
</div>
<% } %>

<% if(character === 3) { %>
<div class="card ghostCard hide">
    <figure>
        <p><%= word%></p>
    </figure>
</div>
<% } %>

<% } %>

<div class="face">
   <span>
       ?
   </span>
</div>

<span class="tip">
   <% if(typeof playerNum !== 'undefined') {%>
   <%= playerNum%>人已经加入房间

   <% } %>
</span>
