<div class="word">

</div>

<div class="card hide">
    <figure>
        <p>出题中</p>
    </figure>

</div>

<div class="face">
   <span>
       3
   </span>
</div>

<span class="tip">
   3人已经领取卡片
</span>
